In [27]:
%load_ext sql
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from time import time
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import FeatureUnion
from sklearn.linear_model.logistic import LogisticRegression

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [28]:
%%sql mysql+pymysql://root@localhost/fx

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

In [46]:
result = %sql select * from rates where currency = 'eur' and year(date) in (2015)
df = pd.DataFrame.from_records(data=result, index='Date')

345 rows affected.

KeyError: 'Date'

In [45]:
df.head()

            0    1         2
0  2015-01-18  EUR  1.156301
1  2015-02-01  EUR  1.131345
2  2015-01-02  EUR  1.204589
3  2015-01-24  EUR  1.120675
4  2015-01-07  EUR  1.183793